body, h1, h2, h3, p {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1920px;
  height: 4344px;
  overflow-x: hidden;
}
.first-screen {
  position: absolute;
  width: 2598px;
  height: 1385px;
  left: -339px;
  top: -295px;
}
.first-screen__ellipse {
  position: absolute;
  width: inherit;
  height: inherit;
  left: 0px;
  top: 0px;
  border-radius: 1299px / 692px;
  overflow: hidden;
}
.first-screen__pic {
  position: absolute;
  width: 2096px;
  height: 1090px;
  left: 339px;
  top: 295px;
  background: url('../images/main-pic.png') no-repeat;
}
.main-page__home_link {
  position: absolute;
  width: 172px;
  height: 99px;
  left: 734px;
  top: 295px;
  background: #FFFFFF;
  box-shadow: 0px 10px 18px rgba(52, 162, 212, 0.25);
  border-radius: 0 0 30px 30px;
}
.main-page__logo {
  position: absolute;
  width: 130px;
  height: 43px;
  left: 21px;
  top: 23px;
}
.main-page__menu {
  position: absolute;
  top: 325px;
  left: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.main-page__menu a {
  padding: 2px 37px 2px 0px;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
a:hover {
  color: #34A2D4;
}
.active {
  color: #34A2D4 !important;
}
.promo__title {
  position: absolute;
  width: 429px;
  height: 252px;
  left: 734px;
  top: 543px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 82px;
  text-transform: uppercase;
  color: #000;
}
.view-products {
  position: absolute;
  padding: 8px 65px;
  left: 734px;
  top: 902px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
/* end first-screen */

.company-info__pic {
  position: absolute;
  width: 654px;
  height: 501px;
  left: 434px;
  top: 1035px;
}
.titles {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.about-us__title {
  position: absolute;
  left: 1066px;
  top: 1151px;
  color: #34A2D4;
}
.lorem {
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.about-us__text {
  width: 363px;
  height: 359px;
  left: 1066px;
  top: 1208px;
  color: #000;
}
.history__title {
  position: absolute;
  left: 395px;
  top: 1534px;
  color: #34A2D4;
}
.years {
  position: absolute;
  height: 57px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #34A2D4;
}
.year-1983 {
  left: 395px;
  top: 1620px;
}
.year-1985 {
  left: 990px;
  top: 1750px;
}
.year-2002 {
  left: 395px;
  top: 1880px;
}
.year-2005 {
  left: 990px;
  top: 2010px;
}
.year-2008 {
  left: 395px;
  top: 2140px;
}
.year-2011 {
  left: 990px;
  top: 2270px;
}
.year-2013 {
  left: 395px;
  top: 2400px;
}
.year-2015 {
  left: 990px;
  top: 2530px;
}
.year-2016 {
  left: 395px;
  top: 2660px;
}
.year-2017 {
  left: 990px;
  top: 2790px;
}
.year-2018 {
  left: 395px;
  top: 2920px;
}
.year-2020 {
  left: 990px;
  top: 3050px;
}
.foundation {
  position: absolute;
  width: 375px;
  height: 56px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}
.f-title__one {
  left: 554px;
  top: 1625px;
}
.f-title__two {
  left: 1149px;
  top: 1755px;
}
.f-title__three {
  left: 554px;
  top: 1885px  
}
.f-title__four {
  left: 1149px;
  top: 2015px;
}
.f-title__five {
  left: 554px;
  top: 2145px;
}
.f-title__six {
  left: 1149px;
  top: 2275px;
}
.f-title__seven {
  left: 554px;
  top: 2405px;
}
.f-title__eight {
  left: 1149px;
  top: 2535px;
}
.f-title__nine {
  left: 554px;
  top: 2665px;
}
.f-title__ten {
  left: 1149px;
  top: 2795px;
}
.f-title__eleven {
  left: 554px;
  top: 2925px;
}
.f-title__twelve {
  left: 1149px;
  top: 3055px;
}
.horizontal-line-1983 {
  position: absolute;
  width: 575px;
  left: 395px;
  top: 1700px;
}
.horizontal-line-1985 {
  position: absolute;
  width: 575px;
  left: 945px;
  top: 1830px;
  transform: rotate(-180deg);
}
.horizontal-line-2002 {
  position: absolute;
  width: 575px;
  left: 395px;
  top: 1960px;
}
.horizontal-line-2005 {
  position: absolute;
  width: 575px;
  left: 945px;
  top: 2090px;
  transform: rotate(-180deg);
}
.horizontal-line-2008 {
  position: absolute;
  width: 575px;
  left: 395px;
  top: 2235px;
}
.horizontal-line-2011 {
  position: absolute;
  width: 575px;
  left: 945px;
  top: 2350px;
  transform: rotate(-180deg);
}
.horizontal-line-2013 {
  position: absolute;
  width: 575px;
  left: 395px;
  top: 2500px;
}
.horizontal-line-2015 {
  position: absolute;
  width: 575px;
  left: 945px;
  top: 2610px;
  transform: rotate(-180deg);
}
.horizontal-line-2016 {
  position: absolute;
  width: 575px;
  left: 395px;
  top: 2760px;
}
.horizontal-line-2017 {
  position: absolute;
  width: 575px;
  left: 945px;
  top: 2870px;
  transform: rotate(-180deg);
}
.horizontal-line-2018 {
  position: absolute;
  width: 575px;
  left: 395px;
  top: 3020px;
}
.horizontal-line-2020 {
  position: absolute;
  width: 575px;
  left: 945px;
  top: 3130px;
  transform: rotate(-180deg);
}
.vertical_line {
  position: absolute;
  left: 937px;
  width: 40px;
  height: 1500px;
  top: 1705px;
}
/* end company info screen */

.advantages {
  position: absolute;
  width: 2060px;
  height: 511px;
  left: 0px;
  top: 3330px;
  background: url('../images/bg.png') no-repeat;
}
.advantages__title {
  position: absolute;
  left: 395px;
  top: 47px;
  color: #FFFFFF;
}
.message-icon {
  position: absolute;
  width: 37px;
  height: 34px;
  left: 415px;
  top: 161px;
}
.search-icon {
  position: absolute;
  width: 39px;
  height: 29px;
  left: 798px;
  top: 160px;
}
.shutdown-icon {  
  position: absolute;
  width: 38px;
  height: 38px;
  left: 1181px;
  top: 157px;
}
.list-icon {
  position: absolute;
  width: 30px;
  height: 31px;
  left: 419px;
  top: 337px;
}
.docs-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 801px;
  top: 336px;
}
.cloud-icon {
  position: absolute;
  width: 47px;
  height: 36px;
  left: 1179px;
  top: 334px;
}
.circle-block__first {
  position: absolute;
  width: 845px;
  height: 78px;
  left: 395px;
  top: 137px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circle-block__second {
  position: absolute;
  width: 845px;
  height: 78px;
  left: 395px;
  top: 313px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages-circle {
  width: 78px;
  height: 78px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
}
.advantages-title-block__first {
  position: absolute;
  width: 868px;
  height: 25px;
  left: 491px;
  top: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages-title-block__second {
  position: absolute;
  width: 868px;
  height: 25px;
  left: 491px;
  top: 313px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages-titles {
  width: 102px;
  height: 24px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.advantages-lorem-block__first {
  position: absolute;
  width: 1033px;
  height: 65px;
  left: 491px;
  top: 176px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.advantages-lorem-block__second {
  position: absolute;
  width: 1033px;
  height: 65px;
  left: 491px;
  top: 344px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
.advantages-lorem {
  width: 267px;
  height: 65px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
/* end advantages */


.awards-title {
  position: absolute;
  left: 721px;
  top: 3913px;
  color: #34A2D4;
}
.awards-slides {
  width: 133px;
  height: 199px;
}
.certificates-slider {
  position: absolute;
  height: 199px;
  left: 395px;
  top: 3986px;
}
.certificates-slider img {
  padding: 0 10px 0 0;
}
/* end awards */

.footer {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 4254px;
  background: linear-gradient(17.66deg, #34A2D4 39.98%, #65B6DB 55.76%);
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer_link {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 428px;
  top: 23px;
}
.contact-phones {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 620px;
  top: 30px;
}
.address {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 777px;
  top: 31px;
}
.footer-menu {
  position: absolute;
  left: 1066px;
  top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-menu a {
  padding: 2px 37px 2px 0;
  text-decoration: none;
  color: #FFFFFF;
}
/* end footer */ 

/*********************************** LABORATORY PAGE ***********************************/
.laboratory-container {
  position: relative;
  width: 1920;
  height: 2047px;
  overflow: hidden;
}
.laboratory-ellipse {
  position: absolute;
  width: 1659px;
  height: 1659px;
  left: 874px;
  top: -687px;
  border-radius: 50%;
  overflow: hidden;
}
.lab-main-img {
  position: absolute;
  width: 1046px;
  height: 972px;
  left: 5px;
  top: 684px;
}
.home_link {
  position: absolute;
  width: 172px;
  height: 99px;
  left: 395px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 10px 18px rgba(52, 162, 212, 0.25);
  border-radius: 0 0 30px 30px;
}
.logo {
  position: absolute;
  width: 130px;
  height: 43px;
  left: 21px;
  top: 23px;
}
.menu {
  position: absolute;
  left: 1161px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.menu a {
  padding: 2px 37px 2px 0px;
  font-family: sans-serif;
  text-decoration: none;
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.menu a:hover {
  color: #34A2D4;
}
.menu a:active {
  color: #34A2D4;
}
.laboratory-title {
  position: absolute;
  width: 457px;
  height: 168px;
  left: 395px;
  top: 248px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  text-transform: uppercase;
  color: #34A2D4;
}
.laboratory-title-text {
  position: absolute;
  width: 459px;
  height: 234px;
  left: 395px;
  top: 466px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
/* end laboratory f page */

.lab-img-first {
  position: absolute;
  width: 651px;
  height: 435px;
  left: 395px;
  top: 803px;
  border-radius: 20px;
}
.lab-img-second {
  position: absolute;
  width: 651px;
  height: 433px;
  left: 874px;
  top: 1453px;
  border-radius: 20px;
}
.lab-lorem {
  position: absolute;
  width: 459px;
  height: 234px;
  padding: 43px 48px 27px 48px;
  overflow: hidden;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0px 10px 18px rgba(52, 162, 212, 0.25);
  border-radius: 20px;
}
.lab-text-first {
  left: 970px;
  top: 1028px;
  background: #34A2D4;
  color: #FFFFFF;
}
.lab-text-second {
  left: 415px;
  top: 1413px;
  background: #FFFFFF;
  color: #000;
}
/* end lab info block */

.lab-footer {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 1957px;
  background: linear-gradient(17.66deg, #34A2D4 39.98%, #65B6DB 55.76%);
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.lab-footer_link {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 428px;
  top: 23px;
}
.lab-contact-phones {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 620px;
  top: 35px;
}
.lab-address {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 777px;
  top: 31px;
}
.lab-footer-menu {
  position: absolute;
  left: 1066px;
  top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lab-footer-menu a {
  padding: 2px 37px 2px 0;
  text-decoration: none;
  color: #FFFFFF;
}
/* end footer */ 


/*********************************** CONTACTS PAGE ***********************************/
.contact-container {
  position: absolute;
  width: 1920px;
  height: 973px;
}
.contacts-title {
  position: absolute;
  left: 395px;
  top: 168px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  text-transform: uppercase;
  color: #34A2D4;
}
/* end first-screen */

.geotag-img {
  position: absolute;
  left: 395px;
  top: 415px;
}
.work-phone-img {
 position: absolute;
 left: 396px;
 top: 493px; 
}
.fax-img {
  position: absolute;
  left: 396px;
  top: 564px;
} 
.mobile-phone-img {
  position: absolute;
  left: 402px;
  top: 625px;
}
.email-img {
  position: absolute;
  left: 396px;
  top: 635px;
}
.contacts-p {
  position: absolute;
  width: 500px;
  left: 455px;
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.address-text {
  top: 420px;
  font-weight: bold;
}
.work-phone-text {
  top: 498px;
  font-weight: normal;
}
.fax-text {
  top: 558px;
  font-weight: normal;
}
.mobile-phone-text {
  top: 625px;
  font-weight: normal;
}
.email-text {
  top: 632px;
  font-weight: normal;
}
/* end contacts-info */

.map {
  position: absolute;
  width: 970px;
  height: 715px;
  left: 950px;
  top: 168px;
}
.map-image {
  width: inherit;
  height: inherit;
}
.map-tag {
  position: absolute;
  left: 414px;
  top: 317px;
  background-size: contain;
}

.contacts-footer {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 883px;
  background: linear-gradient(17.66deg, #34A2D4 39.98%, #65B6DB 55.76%);
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.contacts-footer_link {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 428px;
  top: 23px;
}
.contacts-phones {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 620px;
  top: 30px;
}
.contacts-address {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 777px;
  top: 31px;
}
.contacts-footer-menu {
  position: absolute;
  left: 1066px;
  top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-footer-menu a {
  padding: 2px 37px 2px 0;
  text-decoration: none;
  color: #FFFFFF;
}
/* end footer */ 


/*********************************** PRODUCTS PAGE ***********************************/
.products-container {
  position: relative;
  width: 1920px;
  /* height: auto; */
}
.companies {
  position: absolute;
  left: 395px;
  top: 163px;
  height: 35vh;
}
.companies-title {
  position: absolute;
  width: 250px;
  height: 42px;
  left: 0px;
  top: 0px;
  color: #34A2D4;
}
.companies-choose {
  position: absolute;
  left: 0px;
  top: 65px;
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #34A2D4;
}
.companies__block-card {
  position: absolute;
  left: 0px;
  top: 119px;
  width: 1135px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.companies__block-card > label {
  width: 172px;
  height: 172px;
  box-shadow: 0px 10px 18px rgba(52, 162, 212, 0.25);
  border-radius: 10px;
}
.companies-cards {
  width: 172px;
  height: 172px;
}
.companies-diaso {
  margin: 34px 40px;
  width: 90px;
  height: 99px;
  background: url('../images/company/daiso.png') center;
  border: none;
}
.companies-gnk {
  margin: 60px 30px;
  width: 112px;
  height: 52px;
  background: url('../images/company/GNK.png') center;
  border: none;
}
.companies-its {
  margin: 55px 23px;
  width: 122px;
  height: 57px;
  background: url('../images/company/ITS.png') center;
  border: none;
}
.companies-lg {
  margin: 41px 23px;
  width: 123px;
  height: 85px;
  background: url('../images/company/lg.png') center;
  border: none;
}
.companies-natural_organic {
  margin: 64px 38px;
  width: 105px;
  height: 48px;
  background: url('../images/company/natural_organic.png') center;
  border: none;
}
.companies-scott {
  margin: 72px 34px;
  width: 107px;
  height: 23px;
  background: url('../images/company/scott.png') center;
  border: none;
}
.companies-sandokkaebi {
  margin: 41px 46px;
  width: 80px;
  height: 99px;
  background: url('../images/company/sandokkaebi.png') center;
  border: none;
}
.companies-sdj {
  margin: 71px 31px;
  width: 104px;
  height: 49px;
  background: url('../images/company/SDJ.png') center;
  border: none;
}
.companies-sugar_bubble {
  margin: 46px 27px;
  width: 107px;
  height: 87px;
  background: url('../images/company/sugar_bubble.png') center;
  border: none;
}
.companies-life_workshop {
  margin: 43px 63px;
  width: 56px;
  height: 86px;
  background: url('../images/company/life_workshop.png') center;
  border: none;
}
.companies-life_workshop {
  margin: 43px 63px;
  width: 56px;
  height: 86px;
  background: url('../images/company/life_workshop.png') center;
  border: none;
}
.companies-homesland {
  margin: 65px 28px;
  width: 116px;
  height: 26px;
  background: url('../images/company/Homesland.png') center;
  border: none;
}

.filters-title {
  position: absolute;
  left: 395px;
  top: 765px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #34A2D4;
}
.filters-inputs {
  position: absolute;
  left: 395px;
  top: 800px;
  width: 115px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.filters-inputs > div {
  display: flex;
  align-items: start;
  justify-content: start;
}
.chk_bx {
  margin: 0 16px 16px 0px;
}
.products {
  position: absolute;
  left: 587px;
  top: 791px;
  height: 50vh;
}
.cards-products {
  position: absolute;
  width: 865px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
}
.card {
  height: 380px;
  width: 267px;
  margin-bottom: 44px;
  margin-right: 21px;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0px 10px 18px rgba(52, 162, 212, 0.25);
}
.card-image {
  width: 267px;
  height: 267px;
  border-radius: 10px;
}
.card-text {
  display: flex;
  flex-direction: column;
}
.card-heading {
  height: 78px;
}
.card-title {
  width: inherit;
  height: 20vh;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding: 18px 5px;
  color: #000;
}

.more-details {
  border: 1px solid #000000;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 3px 5px;
}
.more-details-text {
  padding: 8px 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000;
}


.products-footer {
  position: fixed;
  width: 1920px;
  height: 09vh;
  bottom: 0px;
  background: linear-gradient(17.66deg, #34A2D4 39.98%, #65B6DB 55.76%);
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.products-footer_link {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 428px;
  top: 23px;
}
.products-phones {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 620px;
  top: 35px;
}
.products-address {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 777px;
  top: 31px;
}
.products-footer-menu {
  position: absolute;
  left: 1066px;
  top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-footer-menu a {
  padding: 2px 37px 2px 0;
  text-decoration: none;
  color: #FFFFFF;
}
/* end footer */ 


/*********************************** GOODSDETAILS PAGE ***********************************/
.goodsDetails-container {
  position: relative;
  width: 1920px;
  height: 845px;
}
.goods-large-img {
  position: absolute;
  width: 363px;
  height: 362px;
  left: 395px;
  top: 234px;
  border-radius: 10px;
}
.goods-small-img_one {
  position: absolute;
  width: 172px;
  height: 112px;
  left: 395px;
  top: 234px;
  border-radius: 10px;
}
.goods-small-img_two {
  position: absolute;
  width: 172px;
  height: 112px;
  left: 395px;
  top: 359px;
  border-radius: 10px;
}
.goods-small-img_three {
  position: absolute;
  width: 172px;
  height: 112px;
  left: 395px;
  top: 484px;
  border-radius: 10px;
}
.back-button {
  position: absolute;
  width: 76px;
  height: 30px;
  left: 395px;
  top: 169px;
  background: #34A2D4;
  box-shadow: 0 10px 18px rgba(52, 162, 212, 0.25);
  border-radius: 10px;
  border: none;
}
.back-btn-svg {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 11px;
  top: 9px;
  background: url('../images/back-btn-svg.svg');
}
.back-btn-text {
  position: absolute;
  margin: 0;
  left: 34px;
  top: 8px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
/* end good info imgs */

.goods-title {
  position: absolute;
  width: 415px;
  left: 850px;
  top: 234px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.description {
  position: absolute;
  left: 850px;
  top: 305px;
  font-style: normal;
  font-weight: bold;
  font-style: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #34A2D4;
}
.goods-description {
  position: absolute;
  width: 465px;
  left: 850px;
  top: 334px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #424242;
}
.contacts-btn {
  position: absolute;
  left: 850px;
  top: 495px;
  background: #34A2D4;
  box-shadow: 0px 10px 18px rgba(52, 162, 212, 0.25);
  border-radius: 10px;
  border: none;
  padding: 12px 50px;
}
.contacts-btn__text {

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
/* end goods info */

.similar-title {
  position: absolute;
  left: 396px;
  top: 660px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #34A2D4;
}
.similar-items-cards {
  position: absolute;
  width: 1131px;
  left: 395px;
  top: 731px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* end similar items */

.goodsDetails-footer {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 848px;
  background: linear-gradient(17.66deg, #34A2D4 39.98%, #65B6DB 55.76%);
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.goodsDetails-footer_link {
  position: absolute;
  width: 106px;
  height: 42px;
  left: 428px;
  top: 23px;
}
.goodsDetails-phones {
  position: absolute;
  width: 130px;
  height: 32px;
  left: 620px;
  top: 35px;
}
.goodsDetails-address {
  position: absolute;
  width: 260px;
  height: 32px;
  left: 777px;
  top: 31px;
}
.goodsDetails-footer-menu {
  position: absolute;
  left: 1066px;
  top: 31px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goodsDetails-footer-menu a {
  padding: 2px 37px 2px 0;
  text-decoration: none;
  color: #FFFFFF;
}
/* end footer */


.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
}
.modal-dialog {
  max-width: 500px;
  width: 95%;
  background: #fff;
  border-radius: 5px;
  margin: 100px auto;
  /* padding: 40px 45px; */
}
.bigImage {
  width: 500px;
  height: 700px;
}

/******************************** 1366  ******************************************/

@media (max-width: 1366px) {
  /********************** ABOUT US ************************/
  .container {
    max-width: 1366px;
  }
  .first-screen {
    left: -616px;
  }
  .main-page__home_link {
    left: 748px;
  }
  .main-page__menu {
    left: 1424px;
  }
  .view-products {
    display: none;
  }
  .company-info__pic {
    left: 132px;
  }
  .about-us__title {
    left: 805px;
  }
  .about-us__text {
    left: 805px;
  }
  .history__title {
    left: 132px;
  }
  .year-1983 {
    left: 132px;
  }
  .year-1985 {
    left: 750px;
  }
  .year-2002 {
    left: 132px;
  }
  .year-2005 {
    left: 750px;
  }
  .year-2008 {
    left: 132px;
  }
  .year-2011 {
    left: 750px;
  }
  .year-2013 {
    left: 132px;
  }
  .year-2015 {
    left: 750px;
  }
  .year-2016 {
    left: 132px;
  }
  .year-2017 {
    left: 750px;
  }
  .year-2018 {
    left: 132px;
  }
  .year-2020 {
    left: 750px;
  }
  .f-title__one {
    left: 291px;
  }
  .f-title__two {
    left: 910px;
  }
  .f-title__three {
    left: 291px;
  }
  .f-title__four {
    left: 910px;
  }
  .f-title__five {
    left: 291px;
  }
  .f-title__six {
    left: 910px;
  }
  .f-title__seven {
    left: 291px;
  }
  .f-title__eight {
    left: 910px;
  }
  .f-title__nine {
    left: 291px;
  }
  .f-title__ten {
    left: 910px;
  }
  .f-title__eleven {
    left: 291px;
  }
  .f-title__twelve {
    left: 910px;
  }
  /********************** OUR LABORATORY ******************/
  .laboratory-container {
    max-width: 1366px;
  }
  .laboratory-ellipse {
    left: 581px;
  }
  .laboratory-title {
    left: 132px;
  }
  .laboratory-title-text {
    left: 132px;
  }
  .lab-img-first {
    left: 132px;
  }
  .lab-text-first {
    left: 693px;
    top: 1048px;
  }
  .lab-text-second {
    left: 132px;
  }
  .lab-img-second {
    left: 583px;
  }
  .lab-footer {
    max-width: 1366px;
  }
  .horizontal-line-1983 {
    left: 132px;
  }
  .horizontal-line-1985 {
    left: 682px;
  }
  .horizontal-line-2002 {
    left: 132px;
  }
  .horizontal-line-2005 {
    left: 682px;
  }
  .horizontal-line-2008 {
    left: 132px;
  }
  .horizontal-line-2011 {
    left: 682px;
  }
  .horizontal-line-2013 {
    left: 132px;
  }
  .horizontal-line-2015 {
    left: 682px;
  }
  .horizontal-line-2016 {
    left: 132px;
  }
  .horizontal-line-2017 {
    left: 682px;
  }
  .horizontal-line-2018 {
    left: 132px;
  }
  .horizontal-line-2020 {
    left: 682px;
  }
  .vertical_line {
    left: 675px;
  }
  .advantages {
    max-width: 1366px;
  }
  .advantages__title {
    left: 132px;
  }
  .circle-block__first {
    left: 132px;
  }
  .circle-block__second {
    left: 132px;
  }
  .advantages-title-block__first {
    left: 228px;
  }
  .advantages-title-block__second {
    left: 228px;
  }
  .advantages-lorem-block__first {
    left: 228px;
  }
  .advantages-lorem-block__second {
    left: 228px;
  }
  .message-icon {
    left: 152px;
  }
  .search-icon {
    left: 535px;
  }
  .shutdown-icon {
    left: 920px;
  }
  .list-icon {
    left: 156px;
  }
  .docs-icon {
    left: 538px;
  }
  .cloud-icon {
    left: 915px;
  }
  .awards-title {
    left: 444px;
  }
  .certificates-slider {
    left: 115px;
  }
  .footer {
    max-width: 1366px;
    
  }
  /********************** PRODUCTS PAGE *******************/
  .products-container {
    max-width: 1366px;
  }
  .companies {
    position: absolute;
    left: 132px;
    top: 163px;
    height: 35vh;
  }
  .filters-title {
    left: 132px;
  }
  .filters-inputs {
    left: 132px;
  }
  .products {
    position: absolute;
    left: 354px;
    top: 791px;
    height: 50vh;
  }
  .card {
    width: 319px;
    height: 419px;
  }
  .card-image {
    width: 319px;
    height: 319px;
  }
  .card-heading {
    height: 70px;
  }
  .products-footer {
    max-width: 1366px;
  }
  /********************** GOODS DETAILS PAGE **************/
  .goodsDetails-container {
    max-width: 1366px;
  }
  .back-button {
    left: 132px;
  }
  .goods-large-img {
    left: 132px;
    width: 317px;
    height: 317px;
  }
  .goods-title {
    left: 500px;
  }
  .description {
    left: 500px;
  }
  .goods-description {
    left: 500px;
  }
  .contacts-btn {
    left: 500px;
  }
  .goodsDetails-footer {
    max-width: 1366px;
  }
  /********************** CONTACT PAGE ********************/
  .contact-container {
    max-width: 1366px;
    height: 765px;
    box-sizing: border-box;
  }
  .home_link {
    left: 132px;
  }
  .menu {
    left: 808px;
  }
  .contacts-title {
    left: 132px;
  }
  .geotag-img {
    left: 132px;
  }
  .work-phone-img {
    left: 132px;
  }
  .fax-img {
    left: 132px;
  }
  .email-img {
    left: 132px;
  }
  .contacts-p {
    left: 195px;
    width: 300px;
  }
  .map {
    left: 580px;
    top: 177px;
    width: 785px;
    height: 591px;
  }
  .map-image {
    width: inherit;
    height: inherit;
  }
  .map-tag {
    left: 329px;
    top: 252px;
  }
  .contacts-footer {
    display: none;
  }  
  .contacts-footer_link {
    left: 150px;
  }
  .contact-phones {
    left: 340px;
  }
  .contacts-address {
    left: 495px;
  }
  .contacts-footer-menu {
    left: 795px;
  }
}


/******************************** 320 ******************************************/
@media (max-width: 375px) {
  /********************** ABOUT US ************************/
  .container {
    min-width: 375px;
    height: 3729px;
    overflow: auto;
  }
  .first-screen {
    left: -312px;
    top: -137px;
    width: 943px;
    height: 503px;
  }
  .first-screen__ellipse {
    width: 934px;
    height: 503px;
    top: 0px;
    left: 0px;
  }
  .first-screen__pic {
    top: -29px;
    left: -129px;
    background: url('../images/main-pic-320.png') center;
    background-position: 65px 90px;
  }
  .main-page__home_link {
    left: 315px;
    top: 135px;
    width: 97px;
    height: 56px;
    border-radius: 0 0 15px 15px;
  }
  .main-page__home_link > img {
    left: 11px;
    top: 20px;
    width: 73px;
    height: 24px;
  }
  .promo__title {
    left: 344px;
    top: 234px;
    width: 145px;
    height: 83px;
    font-size: 24px;
    line-height: 28px;
  }
  .main-page__menu {
    display: none;
  }
  .sidebar-menu {
    position: absolute;
    top: 150px;
    left: 640px;
  }
  .menu-btn {
    position: absolute;
    display: block;
    width: 25px;
    height: 21px;
    background: url('../images/menu.svg');
    background-size: 25px 21px;
  }
  .menu-link {
    position: fixed;
    top: 0px;
    left: 375px;
    width: 100px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.4);
  }
  .menu-link > a {
    margin: 20px 10px;
    text-decoration: none;
    color: #fff;
  }
  .company-info__pic {
    width: 283px;
    height: 217px;
    left: 32px;
    top: 319px;
  }
  .titles {
    font-size: 18px;
    line-height: 21px;
  }
  .about-us__title {
    left: 32px;
    top: 563px;
  }
  .history__title {
    left: 32px;
    top: 749px;
  }
  .lorem {
    font-size: 10px;
    line-height: 12px;
  }
  .about-us__text {
    left: 32px;
    top: 602px;
    width: 300px;
    height: 120px;
    overflow: hidden;
  }
  .years {
    left: 32px;
    font-size: 48px;
    line-height: 56px;
  }
  .year-1983 {
    top: 788px;
  }
  .year-1985 {
    top: 907px;
  }
  .year-2002 {
    top: 1026px;
  }
  .year-2005 {
    top: 1145px;
  }
  .year-2008 {
   top: 1264px; 
  }
  .year-2011 {
   top: 1383px; 
  }
  .year-2013 {
    top: 1502px;
  }
  .year-2015 {
    top: 1621px;
  }
  .year-2016 {
    top: 1740px;
  }
  .year-2017 {
    top: 1859px;
  }
  .year-2018 {
    top: 1978px;
  }
  .year-2020 {
    top: 2119px;
  }
  .foundation {
    left: 32px;
    font-size: 18px;
    line-height: 21px;
    width: 275px;
    height: 42px;
  }
  .f-title__one {
    top: 845px;
  }
  .f-title__two {
    top: 964px;
  }
  .f-title__three {
    top: 1083px;
  }
  .f-title__four {
    top: 1202px;
  }
  .f-title__five {
    top: 1321px;
  }
  .f-title__six {
    top: 1440px;
  }
  .f-title__seven {
    top: 1559px;
  }
  .f-title__eight {
    top: 1678px;
  }
  .f-title__nine {
    top: 1797px;
  }
  .f-title__ten {
    top: 1916px;
  }
  .f-title__eleven {
    top: 2035px;
  }
  .f-title__twelve {
    top: 2175px;
  }
  .horizontal-line-1983 {
    left: 32px;
    top: 892px;
    width: 300px;
  }
  .horizontal-line-1985 {
    left: 32px;
    top: 1011px;
    transform: none;
    width: 300px;
  }
  .horizontal-line-2002 {
    left: 32px;
    top: 1130px;
    width: 300px;
  }
  .horizontal-line-2005 {
    left: 32px;
    top: 1249px;
    transform: none;
    width: 300px;
  }
  .horizontal-line-2008 {
    left: 32px;
    top: 892px;
    width: 300px;
  }
  .horizontal-line-2011 {
    left: 32px;
    top: 1368px;
    transform: none;
    width: 300px;
  }
  .horizontal-line-2013 {
    left: 32px;
    top: 1487px;
    width: 300px;
  }
  .horizontal-line-2015 {
    left: 32px;
    top: 1606px;
    transform: none;
    width: 300px;
  }
  .horizontal-line-2016 {
    left: 32px;
    top: 1725px;
    width: 300px;
  }
  .horizontal-line-2017 {
    left: 32px;
    top: 1844px;
    transform: none;
    width: 300px;
  }
  .horizontal-line-2018 {
    left: 32px;
    top: 1963px;
    width: 300px;
  }
  .horizontal-line-2020 {
    left: 32px;
    top: 2103px;
    transform: none;
    width: 300px;
  }
  .vertical_line {
    top: 885px;
    left: 305px;
    height: 1385px;
  }
  .advantages {
    max-width: 375px;
    left: 0px;
    top: 2300px;
    height: 967px;
    background: url('../images/bg375.png') no-repeat;
    background-size: 375px 967px;
  }
  .advantages__title {
    left: 32px;
    top: 36px;
  }
  .circle-block__first {
    left: 32px;
    top: 96px;
    width: 78px;
    height: 394px;
    flex-wrap: wrap;
  }
  .circle-block__second {
    left: 32px;
    top: 542px;
    width: 78px;
    height: 394px;
    flex-wrap: wrap;
  }
  .advantages-title-block__first {
    left: 138px;
    top: 125px;
    width: 105px;
    height: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .advantages-title-block__second {
    left: 138px;
    top: 570px;
    width: 105px;
    height: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .advantages-lorem-block__first {
    left: 138px;
    top: 150px;
    width: 225px;
    height: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .advantages-lorem-block__second {
    left: 138px;
    top: 595px;
    width: 225px;
    height: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .message-icon {
    left: 52px;
    top: 145px;
  }
  .search-icon {
    left: 52px;
    top: 275px;
  }
  .shutdown-icon {
    left: 52px;
    top: 405px;
  }
  .list-icon {
    left: 56px;
    top: 593px;
  }
  .docs-icon {
    left: 56px;
    top: 725px;
  }
  .cloud-icon {
    left: 49px;
    top: 853px;
  }
  .awards-title {
    left: 40px;
    top: 3302px;
  }
  .certificates-slider {
    left: 105px;
    top: 3348px;
    width: 130px;
    height: 185px;
  }
  .awards-slides:not(:last-child) {
    display: none;
  }
  .footer {
    max-width: 375px;
    left: 0;
    top: 3595px;
    height: 134px;
  }
  /********************** OUR LABORATORY ******************/
  .laboratory-container {
    max-width: 375px;
    height: 1700px;
  }
  .laboratory-ellipse {
    left: 5px;
    width: 500px;
    height: 500px;
    top: -225px;
  }
  .lab-main-img {
    left: 7px;
    top: 225px;
    width: 425px;
    height: 300px;
  }
  .sidebar-menu {
    position: absolute;
    top: 150px;
    left: 247px;
  }
  .menu-btn {
    position: absolute;
    display: block;
    width: 25px;
    height: 21px;
    background: url('../images/menu.svg');
    background-size: 25px 21px;
  }
  .menu-link {
    position: fixed;
    top: 0px;
    left: 375px;
    width: 100px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.4);
  }
  .menu-link > a {
    margin: 20px 10px;
    text-decoration: none;
    color: #fff;
  }
  .laboratory-title {
    left: 32px;
    top: 303px;
    width: 175px;
    font-size: 24px;
    line-height: 28px;
  }
  .laboratory-title-text {
    left: 32px;
    top: 369px;
    width: 250px;
    font-size: 10px;
    line-height: 12px;
  }
  .lab-img-first {
    left: 32px;
    top: 600px;
    width: 256px;
    height: 173px;
  }
  .lab-text-first {
    left: 32px;
    top: 735px;
    width: 210px;
    height: 260px;
    font-size: 10px;
    line-height: 12px;
    padding: 24px 16px 15px 30px;
  }
  .lab-img-second {
    left: 32px;
    top: 1072px;
    width: 256px;
    height: 173px;
  }
  .lab-text-second {
    left: 32px;
    top: 1207px;
    width: 210px;
    height: 260px;
    font-size: 10px;
    line-height: 12px;
    padding: 24px 16px 15px 30px;
  }
  .lab-footer {
    max-width: 375px;
    top: 1567px;
    height: 134px;
  }
  .contacts-footer_link {
    left: 32px;
    top: 24px;
  }
  .contacts-footer_link > img {
    width: 70px;
    height: 28px;
  }
  .contacts-address {
    left: 138px;
    top: 24px;
    width: 147px;
    font-size: 10px;
    line-height: 12px;
  }
  .contact-phones {
    left: 26px;
    top: 85px;
    width: 93px;
    font-size: 10px;
    line-height: 12px;
  }
  .contacts-footer-menu {
    left: 138px;
    top: 75px;
    width: 200px;
    height: 40px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    flex-wrap: wrap;
  }
  /********************** PRODUCTS PAGE *******************/
  .products-container {
    max-width: 375px;
  }
  .companies {
    left: 32px;
    top: 92px;
  }
  .companies-title {
    font-size: 18px;
    line-height: 22px;
  }
  .companies-choose {
    top: 26px;
    font-size: 12px;
    line-height: 14px;
  }
  .companies__block-card {
    top: 62px;
    width: 230px;
  }
  .companies__block-card > label {
    width: 70px;
    height: 70px;
    border-radius: 20px;
  }
  .companies-cards {
    width: 70px;
    height: 70px;
  }
  .companies-diaso {
    width: 36px;
    height: 39px;
    margin: 16px 17px;
    background-size: 36px 39px;
  }
  .companies-gnk {
    width: 36px;
    height: 16px;
    margin: 27px 17px;
    background-size: 36px 16px;
  }
  .companies-its {
    width: 41px;
    height: 20px;
    margin: 25px 15px;
    background-size: 41px 20px;
  }
  .companies-lg {
    width: 44px;
    height: 31px;
    margin: 20px 13px;
    background-size: 44px 31px;
  }
  .companies-natural_organic {
    width: 50px;
    height: 23px;
    margin: 24px 10px;
    background-size: 50px 23px;
  }
  .companies-scott {
    width: 50px;
    height: 10px;
    margin: 30px 10px;
    background-size: 50px 10px;
  }
  .companies-sandokkaebi {
    width: 36px;
    height: 44px;
    margin: 13px 17px;
    background-size: 36px 44px;
  }
  .companies-sdj {
    width: 40px;
    height: 19px;
    margin: 26px 15px;
    background-size: 40px 19px;
  }
  .companies-sugar_bubble {
    width: 42px;
    height: 33px;
    margin: 19px 14px;
    background-size: 42px 33px;
  }
  .companies-life_workshop {
    width: 28px;
    height: 39px;
    margin: 16px 21px;
    background-size: 28px 39px;
  }
  .companies-homesland {
    width: 55px;
    height: 12px;
    margin: 29px 7px;
    background-size: 55px 12px;
  }
  .filters-title {
    left: 32px;
    top: 550px;
    font-size: 14px;
    line-height: 16px;
  }
  .filters-inputs {
    left: 32px;
    top: 580px;
    font-size: 10px;
    line-height: 12px;
  }
  .products {
    left: 32px;
    height: 85vh;
  }
  .cards-products {
    width: 266px;
  }
  .card {
    width: 123px;
    height: 203px;
    margin-right: 10px;
  }
  .card-image {
    width: 123px;
    height: 123px;
  }
  .card-heading {
    height: 50px;
  }
  .card-title {
    font-size: 12px;
    line-height: 14px;
    padding: 12px 5px;
  }
  .products-footer {
    max-width: 375px;
    height: 134px;
  }
  /********************** GOODS DETAILS PAGE **************/
  .goodsDetails-container {
    max-width: 375px;
    height: 914px;
    overflow: hidden;
  }
  .back-button {
    left: 32px;
    top: 81px;
    width: 96px;
  }
  .goods-large-img {
    left: 32px;
    top: 131px;
    width: 255px;
    height: 255px;
  }
  .goods-title {
    left: 32px;
    top: 425px;
    font-size: 14px;
    line-height: 16px;
  }
  .description {
    left: 32px;
    top: 475px;
    font-size: 14px;
    line-height: 16px;
  }
  .goods-description {
    left: 32px;
    top: 607px;
    width: 256px;
    font-size: 10px;
    line-height: 12px;
  }
  .contacts-btn {
    left: 32px;
    top: 688px;
    width: 210px;
  }
  .goodsDetails-footer {
    max-width: 375px;
    top: 780px;
    height: 134px;
  }
  /********************** CONTACT PAGE ********************/
  .contact-container {
    max-width: 375px;
    height: 601px;
  }
  .home_link {
    left: 5px;
    width: 97px;
    height: 64px;
    border-radius: 0 0 15px 15px;
  }
  .logo {
    width: 72px;
    height: 24px;
    left: 11px;
  }
  .contacts-title {
    left: 32px;
    top: 104px;
    font-size: 24px;
    line-height: 28px;
  }
  .geotag-img {
    left: 32px;
    top: 165px;
    width: 13px;
    height: 17px;
  }
  .work-phone-img {
    left: 32px;
    top: 210px;
    width: 15px;
    height: 15px;
  }
  .fax-img {
    left: 32px;
    top: 245px;
    width: 14px;
    height: 14px;
  }
  .email-img {
    left: 32px;
    top: 278px;
    width: 14px;
    height: 14px;
  }
  .address-text {
    left: 60px;
    top: 161px;
    width: 150px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
  }
  .work-phone-text {
    left: 60px;
    top: 210px;
    font-size: 12px;
    line-height: 16px;
  }
  .fax-text {
    left: 60px;
    top: 245px;
    font-size: 12px;
    line-height: 16px;
  }
  .email-text {
    left: 60px;
    top: 278px;
    font-size: 12px;
    line-height: 16px;
  }
  .map {
    width: 375px;
    height: 281px;
    left: 0;
    top: 360px;
  }
  .map-tag {
    width: 96px;
    height: 44px;
    left: 148px;
    top: 98px;
    background-size: 44px 96px;
  }
  .contacts-footer {
    display: none;
  }
}